body {
  background: rgb(27, 27, 36);
  background: radial-gradient(
    circle,
    rgba(27, 27, 36, 1) 23%,
    rgba(3, 40, 25, 1) 73%
  );
  color: #ffffff;
  font-family: Verdana;
  opacity: 0.87;
}

a {
  color: white;
}

img {
  box-shadow: 5px 5px grey;
  width: 400px;
  height: 400px;
}
